* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "DragonBall";
    src: url(font/Saiyan-Sans.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Secular One";
    src: url(font/SecularOne-Regular.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

header {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

body {
    background-image: url(images/kame_house.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.cards_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.card_content {
    cursor: pointer;
    margin: .4rem 0;
}

#cards:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    transition-timing-function: linear;
}

.students_information {
    height: 160px;
    width: 360px;
    border: 10px solid #ff7200;
    border-radius: 10px;
    background-color: #f8f6d7;
}

.students {
    font-family: "DragonBall";
    color: #ff7200;
    text-shadow: 2px 2px 2px #000000;
    font-size: 24px;
    justify-content: center;
    line-height: 1.2;
    text-align: center
}

.students_information span {
    margin-top: 4px;
    color: #0f0874;
    text-shadow: 2px 2px 2px #ffffff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "DragonBall";
}

section {
    display: flex;
    justify-content: center
}

.helper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1px;
    column-gap: 5px;
    padding: 8px;
    max-width: 600px;
    font-size: 12px;
    background: black;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    line-height: 1.9;
    font-family: "Secular One";
}

.red_span {
    background: #ff0000;
    padding: 2px;
    border-radius: 2px;
}

.green_span {
    background: #38c418;
    padding: 2px;
    border-radius: 2px;
}

#content_information {
    height: 107px;
    width: 140px;
}

.mini_game {
    margin-top: 24px;
    display: flex !important;
    align-items: center !important;
    flex-direction: column;
}

.button-container {
    display: inline-flex;
}

#searchBox {
    border-radius: 5px;
    margin-right: 3px;
    width: 208px;
    height: 40px;
}

.guess_character {
    font-family: "DragonBall";
    font-size: 18px;
    display: inline-block;
    line-height: 1.5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #0f0874;
    color: #ffffff;
    width: 120px;
}

.header_content_characteristics {
    display: flex;
    margin-top: 15px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 5px;
    cursor: default;
    border-spacing: 0;
    column-gap: 8px;
}

.individual_characteristics {
    text-decoration: underline;
    border-bottom: 4px dotted #0f0874;
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    min-height: 40px;
    flex-basis: calc(12.5% - 4px);
    width: 54px;
    text-align: center;
    font-family: "Secular OneDragonBall";
    color: #0f0874;
}

.response_line {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 16px;
    margin-top: 16px;
}

.individual_response_line {
    margin: 0px 10px 0px 10px;
    position: relative;
    flex-basis: calc(12.5% - 4px);
    margin: 2px;
    border: 1px solid hsla(0, 0%, 100%, .59);
    box-sizing: border-box;
    min-width: 70px;
    font-size: 0.8em;
    text-shadow: 1px 1px 4px black;
    font-weight: 650 !important;
    border-radius: 0.25rem !important;
    white-space: pre;
    box-shadow: inset 0 0 5px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    letter-spacing: 0.4px;
}

#suggestions {
    background-color:#ffffff;
    color: #000000;
    font-family: 'Secular One';
    text-align: center;
    width: 280px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: absolute;
    top: 40px;
    z-index: 1;
}

.mini_game {
    position: relative;
}