<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/static/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DragonDle</title>
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>
  <header class="header">
    <a href="/"><img src="/static/images/dragondle.png" alt="DragonDle"></a>
  </header>

  <section class="section" style="display: flex;">
    <div class="how_to_play">
      <div class="grid_close_message">
        <h1>Como Jogar</h1>
        <span class="x" onclick="iniciarGame()">X</span>
      </div>
      <div class="helper">
        <div>
          <p id="content_information">
            <span style="border: solid 3px #ff0000;" class="red_span"> </span>
            <span style="margin-left : 3px;">
              Vermelho:
              <b>"Nenhuma"</b>
              das pistas combina"
            </span>
          </p>
        </div>
        <div>
          <p id="content_information">
            <span style="border: solid 3px #38c418;" class="green_span"> </span>
            <span style="margin-left : 3px;">
              Verde:
              <b>"TODAS"</b>
              as pistas combinam"
            </span>
          </p>
        </div>
      </div>
    </div>

  </section>

  <div class="search_box">
    <div class="row">
      <input id="searchBox" type="text" placeholder="🐉 Digite um Personagem " autocomplete="off">
      <button class="guess_character">Adivinhar!</button>
    </div>
    <div class="result_box">  
    </div>
  </div>

  <div class="header_content_characteristics" style="display: none;">
    <div class="individual_characteristics">
      <b>
        <span>Personagem</span>
      </b>
    </div>
    <div class="individual_characteristics">
      <b>
        <span>Nome</span>
      </b>
    </div>
    <div class="individual_characteristics">
      <b>
        <span>Gênero</span>
      </b>
    </div>
    <div class="individual_characteristics">
      <b>
        <span>Raça</span>
      </b>
    </div>
    <div class="individual_characteristics">
      <b>
        <span>Afiliação</span>
      </b>
    </div>
    <div class="individual_characteristics">
      <b>
        <span>Ki</span>
      </b>
    </div>
  </div>

  <div class="response_line5">
  </div>
  <div class="response_line4">
  </div>
  <div class="response_line3">
  </div>
  <div class="response_line2">
  </div>
  <div class="response_line1">
  </div>

</body>
<script src="/static/index.js"></script>

</html>